.app-header {
    width: 100%;
    background-color: #f5f6fa;
    // padding: 10px 0px;
    position: sticky;
    top: 0;

    // z-index: 10;
    z-index: 1;
    overflow-x: hidden;
    a {
        color: #959595 !important;
    }
    .no-style {
        all: unset;
    }

    .sider-menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        padding: 15px 20px;
        cursor: pointer;
        white-space: nowrap;
        transition: background-color 0.3s ease;
        font-size: large;
    }
    .link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        background: white;
        width: 100%;
        // border-radius: 6px;
        font-weight: 500;
        position: relative;
        .left {
            position: absolute;
            border-left: 6px solid;
            position: absolute;
            height: 80%;
            left: 0;
            top: 10%;
            // border-radius: 0 20px 20px 0;
            display: none;
        }
        .item {
            border-top: 1px solid #e3e3e3;
            padding: 24px 18px;
            width: 100%;
            // border-radius: 6px;
            display: flex;
            // justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow: 'hidden';
            text-overflow: 'ellipsis';
            box-sizing: border-box;

            &[data-active] {
                &,
                &:hover {
                    background: #38abf1;
                    // background: #4318ff;
                    color: white;
                    .linkIcon {
                        color: var(--mantine-color-blue-light-color);
                    }
                }
            }
        }
    }
    .itemIcon {
        width: 15px;
        height: 18px;
        font-size: 18px;
        svg {
            height: 20px;
        }
    }

    .label {
        font-weight: 500;
        font-size: 16px;
        // color: var(--text-color);
    }

    .headerTitlee {
        display: flex;
        margin-left: 10px;
        align-items: center;
        margin-bottom: 10px;
        .logo {
            display: flex;
            justify-content: flex-start;
            width: 48px;
            height: 48px;
            margin-right: 10px;
            // margin-left: 8px;
            border-radius: 50%;
        }
        .profile {
            margin-top: 4px;
            .title {
                color: var(--text-color);
                font-size: 16px;
                font-weight: 600;
            }
            .title1 {
                color: #84878a;
                font-weight: 300;
                font-size: 14px;
            }
        }
    }

    .contentProfile {
        margin-top: 150px;
        border-radius: 16px;
        .fullName {
            font-size: 12px;
            font-weight: 500;
        }
        .email {
            font-size: 12px;
            color: #868e96;
        }
        .item {
            font-size: 12px;
            font-weight: 500;
            min-width: 240px;
            cursor: pointer;
            .avatar {
                width: 48px;
                border-radius: 50%;
            }
            // &:hover {
            //     background-color: #f5f6fa;
            //     border-color: var(--primary-color);
            // }
        }
    }

    .linkIcon {
        color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
        margin-right: var(--mantine-spacing-sm);
        width: 25px;
        height: 25px;
    }
}
.header {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 6px #f4f4f4;
    background-color: #f5f6fa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0px;

    .header-container {
        margin-left: 0rem;
        margin-right: -1.5rem;
        // padding: 0px 1.5rem;
        padding: 0px 17px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
        .header-logo {
            img {
                width: 3.5rem;
                height: 3.5rem;
            }
            span {
                color: white;
                font-size: 20px;
                font-weight: bold;
                margin-left: 0.5rem;
            }

            margin-right: 20px;
            .hamburger {
                width: 25px;
                height: 25px;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                user-select: none;
            }
        }
        .header-navigation {
            height: 100%;
            align-items: center;
        }
        .header-contact {
            .contact-btn {
                font-size: 1rem;
                padding: 0.75rem 1.5rem;
                border-radius: 0.5rem;
                letter-spacing: normal;
            }
        }
        .header-title {
            font-size: 24px;
            color: var(--text-color);
            // font-weight: 600;
            text-align: center;
            // margin-left: -10px;
        }
        .avatar {
            img {
                width: 36px;
                height: 36px;
                border-radius: 40px;
                object-fit: contain;
                margin-left: 8px;
            }
        }
    }

    .myCart {
        font-size: 20px;
        font-weight: 700;
        color: var(--text-black-gray);
        text-align: center;
        margin: 2px 0px;
    }
}
.icon {
    position: absolute;
    top: 14px;
    left: 17px;
    height: 20px;
    width: 20px;
}
.action {
    color: #0c0507;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12px;
}
.restaurantName {
    font-size: 20px;
    font-weight: 500;
}
.notify {
    position: relative;
}
.dot {
    position: absolute;
    background: #ff3e00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 2px;
    right: 4px;
}
.cart {
    position: relative;
    min-width: 45px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}
.numberCart {
    position: absolute;
    background: #ff3e00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -3px;
    right: 5px;
    color: white;
    font-size: 10px;
    font-weight: 500px;
}

.loginContent {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ced4da;
    margin-top: 15px;
    padding: 10px 10px;
    .login {
        font-size: 17px;
        font-weight: 500;
    }
}
.registerContent {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 10px;
    border-bottom: 1px solid #ced4da;
    .register {
        font-size: 17px;
        font-weight: 500;
    }
}

.localeContent {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 10px;
    .register {
        font-size: 17px;
        font-weight: 500;
    }
}
