.root {
    .viewport {
        overflow: hidden;
        padding: 2px;
        .container {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y;
            gap: var(--slide-spacing);

            .slide {
                flex: 0 0 var(--slice-size, auto);
                position: relative;
            }
        }
    }
}
