.slider {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    height: 40px;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    max-width: 90vw; 
    display: flex; 
    &.active {
        cursor: grabbing;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
