.wrapper {
    button.action-button {
        width: 30px;
        height: 30px;
        border: none;

        svg {
            width: 20px;
            height: 20px;
            color: #a7a7a7;
        }

        &:hover {
            background-color: rgba(12, 166, 237, 0.12);
        }
    }
}
.border {
    button.action-button {
        width: 27px;
        height: 27px;
        border: 1.8px solid #a7a7a7;
        svg {
            width: 14px;
            height: 14px;
            color: #a7a7a7;
        }

        &:hover {
            border: 1.8px solid #0ca6ed;
            background-color: #0ca6ed;
            svg {
                width: 14px;
                height: 14px;
                color: #fff !important;
            }
        }
    }
}

.content {
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .action-item {
        color: var(--text-color);
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        gap: 4px;
        width: 192px;
        cursor: pointer;
        &:hover {
            background-color: #0095da1a;
            // color: var(--primary-color);

            // svg {
            //     path, g {
            //         stroke: var(--primary-color);
            //         fill: var(--primary-color);
            //     }
            // }
        }

        .icon {
            width: 32px;

            svg {
                color: #A7A7A7;
                width: 100%;
                height: 20px;
            }
        }

        span {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 24px;
        }
    }
}
